version: "3.8"
services:
  postgres:
    container_name: postgres
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_USER=galib
      - POSTGRES_PASSWORD=123456
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    networks:
      - nebula-network

  adminer:
    container_name: adminer
    image: adminer:latest
    restart: always
    environment:
      - ADMINER_DESIGN=pepa-linha
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    networks:
      - nebula-network

  mongo:
    image: mongo:5.0
    container_name: mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=galib
      - MONGO_INITDB_ROOT_PASSWORD=123456
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - ./data/mongo/db:/data/db
      - ./data/mongo/dev.archive:/Databases/dev.archive
      - ./data/mongo/production:/Databases/production
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    networks:
      - nebula-network

  mongo-express:
    image: mongo-express
    container_name: mexpress
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=galib
      - ME_CONFIG_MONGODB_ADMINPASSWORD=123456
      - ME_CONFIG_MONGODB_URL=mongodb://galib:123456@mongo:27017?authSource=admin
      - ME_CONFIG_BASICAUTH_USERNAME=galib
      - ME_CONFIG_BASICAUTH_PASSWORD=123456
    links:
      - mongo
    restart: always
    ports:
      - "8081:8081"
    networks:
      - nebula-network

  redis-tls:
    image: redis:7-alpine
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    ports:
      - "6381:6381"
    volumes:
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
      - ./redis/certs:/certs
    restart: unless-stopped
    networks:
      - nebula-network

  redisinsight:
    image: redis/redisinsight:latest
    ports:
      - "5540:5540"
    restart: unless-stopped
    networks:
      - nebula-network
volumes:
  db:
    driver: local
  redis-data:
    driver: local

networks:
  nebula-network:
    driver: bridge
